@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>1/6/23 Another update to use for tagging commit to issue</p>
<p>1/6/23 Update to use for tagging commit to issue</p>
<p>Latest Actions versions</p>
<p>Slim</p>
<p>12/31/2022, 10:05AM</p>
<p>Use this page to detail your site's privacy policy.</p>
